section {
    height: 100vh;
    width: 100%;
    text-align: center;
}

.bg-light {
    background-color: rgba(255, 255, 255, 0.664);
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.37);
}

.section-tile {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}
