main {
    z-index: 100;
    position: absolute;
    width: 100%;
}

#services {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

h2 {
    font-family: 'Exo', sans-serif;
}

li:hover>h3>.headerlink, h1:hover>.headerlink, h2:hover>.headerlink, h3:hover>.headerlink, h4:hover>.headerlink, h5:hover>.headerlink, h6:hover>.headerlink, dl:hover>.headerlink, dt:hover>.headerlink {
    opacity: 1;
}

.headerlink {
    opacity: 0;
    padding-left: 10px;
    font-size: 0.8em;
    position: relative;
    top: -0.17em;
    font-weight: 700;
    color: #83dbee;
    text-decoration: none;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.headerlink:hover {
    color: #83dbee;
    text-shadow: 2px 2px#e72dda;
}

.content-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-list p {
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content-list li {
        width: 90%;
    }
}

@media only screen and (min-width: 769px) {
    /* For mobile phones: */
    .content-list li {
        width: 40%;
    }
}

@media only screen and (min-width: 1024px) {
    /* For mobile phones: */
    .content-list li {
        width: 30%;
    }
  }